<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="errorFile"
            fileName="logs/error.txt"
            layout="${longdate} [ERROR] ${logger} - ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="warnFile"
            fileName="logs/warn.txt"
            layout="${longdate} [WARN]  ${logger} - ${message}" />

    <target xsi:type="File" name="infoFile"
            fileName="logs/info.txt"
            layout="${longdate} [INFO]  ${logger} - ${message}" />

    <target xsi:type="File" name="debugFile"
            fileName="logs/debug.txt"
            layout="${longdate} [DEBUG] ${logger} - ${message}" />

    <target xsi:type="Console" name="logconsole"
            layout="${longdate} [${level:uppercase=true}] ${logger} - ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" levels="Error,Fatal" writeTo="errorFile,logconsole" />
    <logger name="*" levels="Warn"        writeTo="warnFile,logconsole" />
    <logger name="*" levels="Info"        writeTo="infoFile,logconsole" />
    <logger name="*" levels="Debug,Trace" writeTo="debugFile" />
  </rules>

</nlog>